/* File CSS */

article {
    text-align: justify;
}

/* styling tabel*/
table {
  border: 1px solid white;
  text-align: center;
}

th {
    background-color: skyblue;
}

td {
    background-color: rgb(125, 219, 219);
}

/* Struktur Layout Utama */
main {
    display: flex; /*Halaman Terbagi*/
    justify-content: space-evenly; /*Layout antar sisi*/
}
/* Jarak Antara Layout Utama */
.main-section {
    width: 40%; /*jarak antar ujung layout*/
}

/*tulisan bawah*/
footer {
    text-align: center; /*rata tengah*/
}

/*layout Form bb-umur-tb*/
form {
    background-color: rgb(236, 236, 236); /*background abu muda*/
    padding: 10px; /*jarak antar tulisan dengan tabel*/
    border-radius: 8px; /*tingkat runcing ujung tabel*/
}

/*layout second form*/
.second-form {
    text-align: center;
}

/*layout third form*/
.third-form {
    text-align: center;
}

/*layout input bb-umur-tb*/
.form-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*layout label input bb-umur-tb*/
#label-form {
    display: flex;
        align-items: center;
}

/*model kolom input bb-umur-tb*/
input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

/*styling tombol hitung bmi*/
.buttonmain1 {
    background-color: rgb(91, 170, 255);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

/*styling tombol reset*/
.buttonmain2 {
    background-color: rgb(152, 181, 212);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

/*styling tombol Download Hasil BMI*/
.buttonmain3 {
    background-color: rgb(91, 170, 255);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

/*styling tombol Konsultasi Ahli Gizi*/
.buttonmain4 {
    background-color: rgb(91, 170, 255);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    align-content: center;
}

/*styling tombol Registrasi Online Ahli Gizi*/
.buttonmain5 {
    background-color: rgb(91, 170, 255);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    align-content: center;
}

/*styling tombol Konsultasi Dokter*/
.buttonmain6 {
    background-color: rgb(91, 170, 255);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

/*styling tombol Registrasi Online Sekarang*/
.buttonmain7 {
    background-color: rgb(91, 170, 255);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    main {
        display: flex
    ;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    header {
        display: block;
        unicode-bidi: isolate;
    }

    .header-section {
        text-align: center;
    }

    .main-section {
        width: 100%;
    }
}