main {
    display: flex
    ;
        justify-content: space-evenly;
}

.main-section {
    width: 40%;
}

footer {
    text-align: center;
}

form {
    background-color: lightgray;
    padding: 10px;
    border-radius: 8px;
}

.form-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#label-form {
    display: flex;
        align-items: center;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }